h1 {
    background-color: #888888;
    font-size: 2em;
    height: 1.2em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
}

fieldset {
    padding: 0;
    padding-bottom: 3%;
}

h2 {
    font-size: 1.2em;
    margin-left: 2em;
}

body {
    width: 40%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

tbody {
    text-align: center;
}

th {
    background-color: #b6b6b6;
    height: 1.5em;
}

td {
    height: 1.5em;
}

input {
    text-align: center;
    width: 100%;
    height: 100%;
    border-color: #b6b6b6;
    background-color: #e2e2e280;
}

.bouton_bleu:hover {
    color: white;
    border-color: rgb(121, 121, 121);
    background-color: rgb(41, 187, 255);
}

.bouton_rouge:hover {
    color: white;
    border-color: rgb(121, 121, 121);
    background-color: rgb(255, 68, 68);
}

td:nth-child(odd) {
    background-color: #f2f2f2;
}
